<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<!-- Barra de navegación -->
<header th:include="~{../static/html/headerDos.html}"></header>
<!-- Formulario-->
<main class="formUsuario">
    <section class="section-usuario">
        <div class="container mt-5 mb-4 usuario">
            <div class="row">
                <div class="col-s-12">
                    <form th:action="@{/usuario/actualizar/{idUsuario}(idUsuario=${usuario.getIdUsuario()})}" id="contactForm" th:method="post"> <!-- (idUsuario=${usuario.getIdUsuario()}): Esta es una expresión de atributo de Thymeleaf que se utiliza para pasar datos dinámicos al atributo de la URL. En este caso, está tomando el valor del idUsuario del objeto usuario y lo está insertando en la URL para que el controlador pueda identificar qué usuario se está actualizando.-->
                        <h2 class="h2-login">EDITAR USUARIO</h2>
                        <div class="form-group mb-3">
                            <label for="run" class="form-label">RUN</label>
                            <input type="number" class="form-control" id="run" name="run"
                                     th:value="${usuario.getRun()}" aria-label="Disabled input example" disabled readonly style="width: 350px; color: black;">
                        </div>

                        <div class="form-group mb-3">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                   placeholder="Ingrese su nombre" th:value="${usuario.getNombre()}" required style="width: 350px; color: black;">
                        </div>
                        <div class="form-group mb-3">
                            <label for="apellido1">Primer apellido</label>
                            <input type="text" class="form-control" id="apellido1" name="apellido1"
                                   placeholder="Ingrese primer apellido" th:value="${usuario.getApellido1()}" required style="width: 350px; color: black;">
                        </div>
                        <div class="form-group mb-3">
                            <label for="apellido2">Segundo apellido (opcional)</label>
                            <input type="text" class="form-control" id="apellido2" name="apellido2"
                                   placeholder="Ingrese segundo apellido" th:value="${usuario.getApellido2()}" style="width: 350px; color: black;">
                        </div>
                        <div class="form-group mb-3">
                            <label for="telefono">Teléfono</label>
                            <input type="number" class="form-control" id="telefono" name="telefono"
                                   placeholder="Ejemplo: 569xxxxxxxx" th:value="${usuario.getTelefono()}" required style="width: 350px; color: black;">
                        </div>
                        <div class="form-group mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="Ingrese email" th:value="${usuario.getEmail()}" required style="width: 350px; color: black;">
                        </div>
                        <div class="form-group mb-3">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" id="password" name="clave"
                                   placeholder="Ingrese clave" th:value="${usuario.getClave()}" required style="width: 350px; color: black;">
                        </div>
                        <div class="form-group mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="perfil.idPerfil" th:value="3" th:checked="${usuario.getPerfil().getIdPerfil() == 3} ? 'true' : 'false'"
                                       id="inlineRadio1">
                                <label class="form-check-label" for="inlineRadio1">Empleador</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <!--en el name perfil es el nombre que tengo en la entidad perfil que es un objeto de tipo perfil con nombre perfil-->
                                <!--el .id_perfil es el atributo id_perfil de la entidad perfil-->
                                <input class="form-check-input" type="radio" name="perfil.idPerfil" th:value="2" th:checked="${usuario.getPerfil().getIdPerfil() == 2} ? 'true' : 'false'"
                                       id="inlineRadio2">
                                <label class="form-check-label" for="inlineRadio2">Contador</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-secondary mt-2">Editar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Footer -->
<footer th:include="~{../static/html/footer.html}"></footer>
<!-- Script -->
<script th:include="~{../static/html/script.html}"></script>

</body>

</html>