<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear liquidación</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<!-- Barra de navegación -->
<header th:include="~{../static/html/headerDos.html}"></header>
<!-- Formulario-->
<main class="formTrabajador">
    <section class="section-usuario">
        <div class="container mt-5 mb-4 usuario">
            <div class="row">
                <div class="col-s-12">
                    <form th:action="@{/liquidacion/crearLiquidacion}" id="contactForm" th:method="post">
                        <h2 class="h2-login">CREAR LIQUIDACIOÓN</h2>
                        <div class="form-group mb-3">
                            <label for="nombre">Trabajador</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required style="width: 350px; color: black;">
                        </div>
                        <div class="form-group mb-3">
                            <label for="sueldoImponible">Sueldo imponible</label>
                            <input type="number" class="form-control" id="sueldoImponible" name="sueldoImponible"
                                   placeholder="Ingrese sueldo imponible" required style="width: 350px; color: black;">
                        </div>
                        <!-- Institución salud-->
                        <div class="mt-4 mb-3">
                            <label for="saludId" class="form-label">Institución de Salud</label>
                            <input class="form-control" type="text" value="Valor seleccionado" aria-label="Disabled input example" disabled readonly>
                            <select class="form-control" id="saludId">
                                <option th:each="salud : ${salud}" th:value="${salud.idInstSalud}" th:text="${salud.descripcion}" th:selected="${salud.idInstSalud == selectedSaludId}"></option>
                            </select>
                        </div>
                    <!-- monto salud -->
                        <div class="mt-4 mb-3">
                            <label for="montoSalud" class="form-label">Monto Salud</label>
                            <input class="form-control" type="text" value="Valor seleccionado" aria-label="Disabled input example" disabled readonly>
                            <select class="form-control" id="montoSalud">
                                <option th:each="salud : ${salud}" th:value="${salud.idInstSalud}" th:text="${salud.descripcion}" th:selected="${salud.idInstSalud == selectedSaludId}"></option>
                            </select>
                        </div>
                    <!-- AFP -->
                        <div class="mt-4 mb-3">
                            <label for="previsionId" class="form-label">AFP</label>
                            <select class="form-control" id="previsionId" name="previsionId">
                                <option th:each="prevision: ${prevision}" th:value="${prevision.idInstPrevision}" th:text="${prevision.descripcion}"></option>
                            </select>
                        </div>
                        <!-- Monto AFP -->
                        <div class="mt-4 mb-3">
                            <label for="montoAfp" class="form-label">Monto afp</label>
                            <input class="form-control" type="text" value="Valor seleccionado" aria-label="Disabled input example" disabled readonly>
                            <select class="form-control" id="montoAfp">
                                <option th:each="prevision : ${prevision}" th:value="${prevision.idInstPrevision}" th:text="${prevision.descripcion}" th:selected="${prevision.idInstPrevision == selectedPrevisionId}"></option>
                            </select>
                        </div>

                        <!-- Total descuentos -->
                        <div class="mt-4 mb-3">
                            <label for="totalDscts" class="form-label">Monto afp</label>
                            <input class="form-control" type="text" value="Valor seleccionado" aria-label="Disabled input example" disabled readonly>
                            <select class="form-control" id="totalDscts">
                                <option th:each="prevision : ${prevision}" th:value="${prevision.idInstPrevision}" th:text="${prevision.descripcion}" th:selected="${prevision.idInstPrevision == selectedPrevisionId}"></option>
                            </select>
                        </div>
                        <!-- Total haberes -->
                        <div class="mt-4 mb-3">
                            <label for="empleadorId" class="form-label">Empleador</label>
                            <select class="form-control" id="empleadorId" name="empleadorId">
                                <option th:each="empleador: ${empleador}" th:value="${empleador.idEmpleador}" th:text="${empleador.nombre + ' ' + empleador.apellido1}"></option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="anticipo">Anticipo</label>
                            <input type="number" class="form-control" id="anticipo" name="anticipo"
                                   placeholder="Ingrese anticipo" required style="width: 350px; color: black;">
                        </div>
                        <!-- Sueldo liquido -->
                        <div class="mt-4 mb-3">
                            <label for="sueldoLiquido" class="form-label">Empleador</label>
                            <select class="form-control" id="sueldoLiquido" name="sueldoLiquido">
                                <option th:each="empleador: ${empleador}" th:value="${empleador.idEmpleador}" th:text="${empleador.nombre + ' ' + empleador.apellido1}"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-secondary mt-2">Crear Liquidación</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Footer -->
<footer th:include="~{../static/html/footer.html}"></footer>
<!-- Script -->
<script th:include="~{../static/html/script.html}"></script>

</body>

</html>