<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear liquidación</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<!-- Barra de navegación -->
<header th:include="~{../static/html/headerDos.html}"></header>
<!-- Formulario-->
<main class="formTrabajador">
    <section class="section-usuario">
        <div class="container mt-5 mb-4 liquidacion">
            <div class="row">
                <div class="col-s-12">
                    <form th:action="@{/liquidacion/crearLiquidacion}" id="contactForm" th:method="post">
                        <h2 class="h2-login">CREAR LIQUIDACIÓN</h2>
                        <div class="mt-4 mb-3">
                            <label for="trabajadorId" class="form-label">Trabajador</label>
                            <select class="form-control" id="trabajadorId" name="trabajadorId">
                                <!-- Iterar sobre la lista de empleadores disponibles -->
                                <option th:each="trabajador: ${trabajador}"
                                        th:value="${trabajador.idTrabajador}"
                                        th:text="${trabajador.nombre + ' ' + trabajador.apellido1}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="sueldoImponible">Sueldo imponible</label>
                            <input type="number" class="form-control" id="sueldoImponible" name="sueldoImponible"
                                   placeholder="Ingrese sueldo imponible" required style="width: 350px; color: black;">
                        </div>
                        <!-- Institución salud-->
                        <div class="mt-4 mb-3">
                            <label for="nombreSalud" class="form-label">Institucion de Salud</label>
                            <input id="nombreSalud" class="form-control" type="text" aria-label="Disabled input example" disabled readonly>
                        </div>

                    <!-- monto salud -->
                        <div class="mt-4 mb-3">
                            <label for="montoSalud" class="form-label">Monto Salud</label>
                            <input id="montoSalud" class="form-control" type="number" name="montoSalud"  required style="width: 350px; color: black;">
                        </div>

                        <!-- Nombre de la AFP -->
                        <div class="mt-4 mb-3">
                            <label for="nombreAfp" class="form-label">Nombre AFP</label>
                            <input id="nombreAfp" class="form-control" type="text" aria-label="Disabled input example" disabled readonly>
                        </div>

                        <!-- Monto AFP -->
                        <div class="mt-4 mb-3">
                            <label for="montoAfp" class="form-label">Monto afp</label>
                            <input id="montoAfp" class="form-control" type="number"  name="montoAfp" required style="width: 350px; color: black;">
                        </div>

                        <!-- Total descuentos -->
                        <div class="mt-4 mb-3">
                            <label for="totalDscts" class="form-label">Total Descuentos</label>
                            <input id="totalDscts" class="form-control" type="text"  name="totalDscts" required style="width: 350px; color: black;">
                        </div>
                        <!-- Total haberes -->
                        <div class="mt-4 mb-3">
                            <label for="totalHaberes" class="form-label">Total Haberes</label>
                            <input id="totalHaberes" class="form-control" type="text"  name="totalHaber" required style="width: 350px; color: black;">
                        </div>
                        <!-- Anticipo -->
                        <div class="form-group mb-3">
                            <label for="anticipo">Anticipo</label>
                            <input type="number" class="form-control" id="anticipo" name="anticipo"
                                   placeholder="Ingrese anticipo" required style="width: 350px; color: black;">
                        </div>
                        <!-- Sueldo liquido -->
                        <div class="mt-4 mb-3">
                            <label for="sueldoLiquido" class="form-label">Sueldo Liquido</label>
                            <input id="sueldoLiquido" class="form-control" type="text"  required style="width: 350px; color: black;">
                        </div>
                        <button type="submit" class="btn btn-secondary mt-2">Crear Liquidación</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Footer -->
<footer th:include="~{../static/html/footer.html}"></footer>
<!-- Script -->
<script th:include="~{../static/html/script.html}"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/script.js}"></script>

</body>

</html>