<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<!-- Barra de navegación -->
<header th:include="~{../static/html/header.html}"></header>

<!-- Formulario inicio sesión -->
<main>
    <section class="section-login">
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2 class="h2-login">Inicio Sesión</h2>
                    <div class="inputbox">
                        <i class="fa-regular fa-user icon"></i>
                        <input type="number" id="run" name="run" required>
                        <label for="run">Run</label>
                    </div>
                    <div class="inputbox">
                        <i class="fa-solid fa-lock icon"></i>
                        <input type="password" id="clave" name="clave" required>
                        <label for="clave">Clave</label>
                    </div>
                    <div class="forget">
                        <label for="olvClave" id="olvClave" name="olvClave">
                            <a href="#">Olvidé mi clave</a>
                        </label>
                    </div>
                    <button class="button-login">Iniciar Sesión</button>
                    <div class="registrer">
                        <p>
                            ¿No tienes una cuenta?
                            <a href="/usuario/registrar">Regístrate</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<!-- Footer -->
<footer th:include="~{../static/html/footer.html}"></footer>
<!-- Script -->
<script th:include="~{../static/html/script.html}"></script>
</body>

</html>